*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* HEADER  */
.header__top {
    background-color: #0d369f;
    padding: 14px 15px;
    font-size: 15px;
    font-weight: 500;
}

.header__top i {
    color: white;
}
.header__left a{
    text-decoration: none;

}
.header__right ul {
    list-style: none;
    
}
.header__top li a {
    color: white;
    font-size: 14px;
    transition: all .5s;
}
.header__top li a:hover {
    color: #ff6e65;
}

/* HEADER BOT  */

.header__right li a i:hover {
    color: #ff6e65;
}
.header__right li a i{
    transition: all .5s;
}
.search-right button{
    position: absolute;
    right: 0;
    cursor: pointer;
}
.search-right {
    padding: 0 10px 0 10px;
}
.search-right form{
    display: flex;
    align-items: center;
}
.input-search input {
    color: #060606;
    padding: 10px 30px 10px 14px;
    width: 100%;
    border-radius: 30px;
    border: 2px solid #eee;
    font-size: 14px;
}
.header .btn i{
    color: #0d369f;
    font-size: 15px;
}
.navbar-expand-lg .navbar-nav .dropdown-menu{
    overflow: hidden;
    transform: translateX(-50px);
}

/* HEADER HOVER  */

.header__bot .navbar-brand{
    transition: all 0.5s;
    color: #0d369f;
    font-size: 1.5rem;
    font-weight: 500;
    
}
.header__bot .navbar-brand:hover{
    color: #ff6e65;
}
.header__bot .active .nav-link{
    color: #ff6e65;
}
 .nav-item a{
    font-size: 15px;
    color: #060606;
    padding: 0 6px;
    transition: all.5s;
    font-weight: 500;
}
.nav-item a:hover {
    color: #ff6e65;
}
.dropdown-item:hover {
    color: #ff6e65;
    background: none;
}
.dropdown-menu a{
    padding: 5px 25px;
}
input{
    outline: none;
}
.seacrh-box button i{
    transition: all .5s;
}
.seacrh-box button:hover i{
    color: #ff6e65;
}
.input-search input{
    background: transparent;
}
/* CAROUSEL  */
#banner__carousel .carousel-caption {
    top: 50%;
    left: 50%;
    transform: translate(-110% , -50%);
    max-width: 500px;
    text-align: left;
}
#banner__carousel .carousel-caption h5{
    font-size: 65px;
    line-height: 80px;
    font-weight: bold;
    color: #fff;
}
.btn-style {
    padding: 12px 30px;
    font-weight: 600;
    color: #060606;
    border-radius: 5px;
    background-color: #fff;
    border: none;
    transition: all .5s;
    font-weight: 500;
    font-size: 15px;
    transition: all .25s ease-in-out;

}
img{
    vertical-align: middle;
}
.btn-style i{
    color: #060606;
    vertical-align: middle;
    transition: all .25s ease-in-out;
}
.btn-style:hover{
    background-color: #ff6e65;
    color: #fff;
}
.btn-style:hover i{
    color: #fff;
}
.carousel-item{
    position: relative;
    z-index: 0;
}
.carousel-item::before{
    content: "";
    background: linear-gradient(75deg, rgb(16 16 16 / 34%) 10%, rgb(230 2 100 / 0%));
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: 1;
}
#banner__carousel .carousel-indicators{
    max-width: 20px;
    max-height: 50px;
    overflow: hidden;
    margin: 0;
}
#banner__carousel .carousel-indicators li{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    opacity: 1;
    margin-right: 0;
}
#banner__carousel .carousel-indicators ol {
    margin: 0;
    padding: 0;
    width: 100%;
}
#banner__carousel .carousel-indicators{
    display: inline-block;
    transform: translate(9000% , -180%);
}
.carousel-indicators .active{
    background-color: #ff6e65;
    z-index: 2;
}
ol{
    margin: 0;
}

/* BANNER BOT  */
.banner__bot{
    margin-top: -4em;
}
.banner__bot .box__item {
    padding: 50px 35px;
    background-color: #037ef3;
    color: #fff;
    text-align: center;
    border-radius: 7px;
}
.banner__bot .box a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    transition: all .5s;
}
.banner__bot .box a:hover{
    color: #060606;
}
.banner__bot .col{
    padding: 0 7px;
}
.banner__bot .box__item i{
    font-size: 45px;
}
.banner__bot .box__item h4{
    margin-top: 25px;
    font-size: 24px;
    line-height: 20px;
    margin-bottom: 0;
}
.banner__bot .box__item2 {
    background-color: #ffc949;
}
.banner__bot .box__item3 {
    background-color: #ff4f81;
}
.banner__bot .box__item4 {
    background-color: #1ee697;
}
/* WELCOME */
.welcome{
    text-align: center;
}
.welcome .col i{
    padding: 20px;
    font-size: 25px;
    background-color: rgb(13 54 159 / 9%);
    color: #0d369f;
    border-radius: 50%;
}
.welcome .text h5{
    font-size: 24px;
    line-height: 34px;
    font-weight: 500;
    cursor: pointer;
}
.welcome .text h5:hover{
    color: #ff6e65;
}

.welcome .text p{
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
    color: #707070;
    letter-spacing: .4px;
    margin-top: 15px;
}
.title{
    text-align: center;
}
.title h3{
    font-size: 38px;
    position: relative;
    font-weight: 500;
}
.title h3 span{
    color: #ff6e65;
    font-size: 42px;
}
.title-main::before{
    left: -20px;
    bottom: -8px;
}
.title-main::before , .title-main::after{
    content: "";
    width: 60px;
    height: 2px;
    position: absolute;
    right: 0;
    margin: 0 auto;
    background-color: #6f6f6f;
}
.title-main::after{
    left: 20px;
    bottom: -15px;
}

/* PICK */
.pick{
    background-color: #f8f9ff;
}

.pick .item__content {
    background-color: #fff;
    transition: all .4s ease;

}
.pick .item__content:hover{
    box-shadow: 0px 15px 30px rgb(29 23 77 / 8%);

}
.pick .item__top img {
    position: relative;
    width: 100%;
    border-top-left-radius:8px ;
    border-top-right-radius: 8px;
}
.pick .item__top .apply{
    position: absolute;
    top: 15px;
    left: 45px;
}
.pick .item__top .apply .first{
    background-color: #FFA100;
    font-size: 12px;
    padding: 4px 10px;
    font-weight: 500;
    border-radius: 3px;
    margin-right: 10px;
}
.pick .item__top .apply a{
    color: #fff;
}
.pick .item__top .apply .second {
    background-color: #1DC295;
    color: #fff;
    font-size: 12px;
    padding: 4px 10px;
    border-radius: 3px;
    margin-right: 10px;
}
.pick .item__top .apply .sale {
    background-color: #037ef3;
    color: #fff;
    font-size: 12px;
    padding: 4px 10px;
    border-radius: 3px;
    margin-right: 10px;
}
.pick .item__top a{
    cursor: pointer;
    text-decoration: none;
}

.pick .item__bot{
    position: relative;
    border: 1px solid #eee;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #fff;
}
.item__bot .price{
    min-width: 70px;
    min-height: 70px;
    border-radius: 100%;
    background-color: #ff6e65;
    color: #fff;
    position: absolute;
    top: -56px;
    right: 25px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    box-shadow: 0px 8px 20px rgb(241 77 93 / 20%);
}
ul{
    list-style: none;
}
.item__bot li i{
    color: #ff6e65;
    font-size: 12px;
    
}
.item__bot li {
    font-size: 15px;
}
.item__bot a{
    text-decoration: none;
    color: #060606;
    font-size: 20px;
}
.item__bot h4 a{
    transition: all .5s;
}
.item__bot h4:hover a{
    color: #ff6e65;
}
.item__bot p{
    font-size: 14px;
    color: #707070;
    letter-spacing: .4px;
    line-height: 28px;
}

.rating {
  border-top: 1px solid #eee;;
}
.rating-list a i{
    color: #ffc949 ;
    font-size: 13px;
}
ul {
    margin: 0;
    padding: 0;
}
.rating-list a{
    letter-spacing: 1.5px;
    font-size: 13px;
}
.rating .btn{
    font-size: 13px;
    color: #ff6e65;
    font-weight: 500;
    padding:0;
    transition: all .25s;
}
.rating .btn:hover{
    color: #0d369f;
}
.pick__foot{
    text-align: center;
}
.pick__foot .btn{
    background-color: #ff6e65;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    transition: all .3s ease-out;
    border: none;
    padding: 14px 30px;
}
.pick__foot .btn i{
    vertical-align: middle;
    margin-left: 2px;
}
.pick__foot .btn:hover{
    background-color: #0d369f;
}

/* SERVICES */

.services {
    background-image: url(../img/HOME/bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.service__item{
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;

}
.sv__icon{
    margin-right: 15px;
}
.service__item i{
    color: #0d369f;
    font-size: 26px;
    background-color: rgb(13 54 159 / 9%);
    width: 65px;
    height: 65px;
    border-radius: 50%;
    text-align: center;
    line-height: 66px;
}
.service__item p {
    margin: 0;
    letter-spacing: .4px;
    font-size: 14px;
    line-height: 26px;
}

/* NUMBER  */
.number .title-main p{
    font-weight: 300;
    font-size: 15px;

}
.number__content .col{
    border-right: 1px ;
    text-align: center;
}
.number__content .col h4{
    font-size: 45px;
}
.number__content p ,.number__content h4{
    margin-bottom: 0;
}

/* FEECBACK */
.feedback .col-lg-4{
    text-align: left;
}
.feedback__item {
    box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
    border-radius: 4px;
    background-color: #fff;
}
.feedback__item .item__top q{
    font-size: 16px;
    color: #707070;
    letter-spacing: .4px;
    margin: 0;
    padding: 0;
}
.feedback__item .item__top q::before{
    font-size: 50px;
    font-family: initial;
    line-height: .8;
    padding-top: 8px;
    color: #ff6e65;
}
.feedback__item .item__img img{
    border-radius: 50%;
}
.feedback__item .item__text h5{
    font-size: 19px;
    font-weight: 500;
    margin: 0;
    
}.feedback__item .item__text p{
    font-size: 13px;
    margin: 0;
    padding: 0;
    line-height: 20px;
}

/* INTRUCTORS */
.intructors__item{
    box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    
}
.intructors__item .item__top a img{
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.intructors__item .item__top{
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.intructors__item .info{
    position: absolute;
    margin: 0;
    padding: 20px 0;
    background: rgb(8 8 8 / 29%);
    bottom: -227px;
    width: 100%;
    transition: all .5s;
}
.intructors__item .social-icons a{
    background: #fff;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: inline-block;
    transition: all .5s;

}
.intructors__item .social-icons a i{
    color: #0d369f;
    font-size: 14px;
    line-height: 28px;
}
.intructors__item .social-icons a:hover{
    opacity: .8;
}
.intructors__item .item__bot a{
    color: #060606;
    font-size: 19px;
    transition: all 0.5s;
}
.intructors__item .item__bot small{
    font-size: 80%;
}
.intructors__item:hover .info{
    bottom: 0;

}
.intructors__item:hover .item__bot a{
    color: #ff6e65;
}
